<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Product Detail</h2>
    <h2><%= product.name %></h2>
    <h2><%= product.quantity%></h2>
    <h2><%= product.price %></h2>

    <% if(admin){ %>
    <div>
      <a href="/products/<%= product._id %>/edit"
        ><button type="submit">Edit</button></a
      >
      <a href="/products/<%= product._id %>/delete"
        ><button type="submit">Delete</button></a
      >
    </div>
    <% }else{ %>
    <div>
      <a href="/products/<%= product._id %>/likes"
        ><button type="submit">Likes:<%= product.likes %></button></a
      >
      <a href="/products/<%= product._id %>/addproduct"
        ><button type="submit">Add Product</button></a
      >
    </div>
    <% } %>
  </body>
</html>
