<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <h2>Event</h2>
      <a href="/articles"><button type="submit">List of Article</button></a>
    </header>
    <main>
      <h2>Aricle Details</h2>
      <div class="container">
        <h3>Title:<%= article.title %></h3>
        <h3>Summary:<%= article.summary %></h3>
        <diV>
          <a href="/articles/<%= articles.id %>/edit"
            ><button type="submit" class="btn2">edit</button></a
          >
          <a href="/articles/<%= article.id %>/delete"
            ><button type="submit" class="btn1">Delete</button></a
          >
          <a href="/articles/<%= articles.id %>/likes"
            ><button type="submit" class="likes">
              likes<%= event.likes %>
            </button></a
          >
        </diV>
      </div>
      <div class="form1">
        <form action="/articles/<%= article.id %>/comments" method="POST">
          <textarea name="title"></textarea>
          <input type="text" placeholder="author" name="author" />
          <button type="submit" class="btn3">Add Comment</button>
        </form>
      </div>
      <h2>Comment</h2>
      <ul>
        <% event.commens.forEach(remark => { %>
        <li>
          <div class="Comment">
            <h4>Comment:<%= comment.title %></h4>
            <h4>Author:<%=comment.author %></h4>
            <div>
              <a href="/comments/<%= comment.id %>/edit"
                ><button type="submit" class="btn2">edit</button></a
              >
              <a href="/comments/<%= comment.id %>/delete"
                ><button type="submit" class="btn1">delete</button></a
              >
              <a href="/comments/<%= comment.id %>/likes"
                ><button type="submit" class="likes">
                  likes<%= comment.likes %>
                </button></a
              >
            </div>
          </div>
        </li>
        <% }) %>
      </ul>
    </main>
  </body>
</html>
